<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shree.intergration.model.major.mapper.IdpDictInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shree.intergration.model.major.entity.IdpDictInfo">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="modify_time" property="modifyTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modifier_name" property="modifierName" />
        <result column="ent_id" property="entId" />
        <result column="ent_name" property="entName" />
        <result column="parent_id" property="parentId" />
        <result column="dict_type_code" property="dictTypeCode" />
        <result column="dict_type_name" property="dictTypeName" />
        <result column="dict_code" property="dictCode" />
        <result column="dict_name" property="dictName" />
        <result column="dict_value" property="dictValue" />
        <result column="dict_enabled" property="dictEnabled" />
        <result column="remark" property="remark" />
        <result column="sort" property="sort" />
        <result column="public_flag" property="publicFlag" />
        <result column="system_flag" property="systemFlag" />
    </resultMap>

</mapper>
